# 1) My first code

In [1]:
print("hello world")

hello world

# 2) Draw a shape

In [2]:
print("    / |")
print("   /  |")
print("  /   |")
print(" /____| ")

    / |
   /  |
  /   |
 /____|

 # 3) Variables and Data types

### There are 3 basic data types which can be stored as a value in a given variable :
1) String - just simple plain text
2) Nnumber - simple whole or decimal numbers ( you don't need to put numbers in quotation marks)
3) Boolean - true or false values ( write both true and false with first letter in capital )

In [1]:
print("there once was a man named Raju")
print("he was 70 years old")
print("he liked the name Raju")
print("but didn't like being 70")

there once was a man named Raju
he was 70 years old
he liked the name Raju
but didn't like being 70

#### suppose i want the name changed to "Rohan" and age changed to "40"but then i have to manuually go to Raju and change it to Rohan and same for age instead we define variables such as "character name " and "character age"

In [8]:
character_name = "Rohan"
character_age  =  "40"
print("there once was a man named " + character_name +",")
print("he was " + character_age + " years old.")
print("he liked the name " + character_name + " , ")
print("but didn't like being "+ character_age +".")

there once was a man named Rohan,
he was 40 years old.
he liked the name Rohan ,
but didn't like being 40.

#### but i want to change to change the character name to "sagar" but after 2nd given line

In [9]:
character_name = "Rohan"
character_age  =  "40"
print("there once was a man named " + character_name +",")
print("he was " + character_age + " years old.")
character_name = "sagar"
print("he liked the name " + character_name + " , ")
print("but didn't like being "+ character_age +".")

there once was a man named Rohan,
he was 40 years old.
he liked the name sagar ,
but didn't like being 40.

#### EXPERIMENTING

In [10]:
print("he liked the name " + character_name + "  )

SyntaxError: unterminated string literal (detected at line 1) (1311334843.py, line 1)

In [11]:
print("he liked the name " + character_name + ""  )

he liked the name sagar

# 4)  Working with strings

#### NOTE : for strings we need to use quotation marks inside the parantheses

In [ ]:
print("")